<div class="panel panel-info">
    <div class="panel-heading"><%= current_user.name %>'s Quotes</div>
      <table class="table">
        <thead>
          <tr>
            <th></th>
          </tr>
        </thead>

        <tbody>
          <% @quotes.each do |quote| %>
              <tr>
                <td><%= quote.body %></td>
              </tr>
          <% end %>
        </tbody>
    </table>
</div>
